@import url("./global.css");

main {
  padding: 2em 3em;
}

/* Quiénes Somos */
.nosotros {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nosotros h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--texto);
}

.nosotros p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--texto);
}

/* Contenedor Misión y Visión */
.contenedor-informacion {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

.mision,
.vision {
  background-color: var(--fondo-negro);
  color: var(--texto-blanco);
  padding: 2.5rem;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.4);
}

/* Servicios */
.servicios {
  text-align: center;
  padding: 2rem;
}

.servicios-grid {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-evenly;
}

.servicio {
  flex: 1 1 250px;
  color: var(--texto);
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
}

.servicio h3 {
  margin-bottom: 0.5rem;
}

.servicio p {
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 400px) {
  main {
    font-size: 0.9rem;
  }

  main h2 {
    font-size: 1.1rem;
  }

  main h3 {
    font-size: 1rem;
  }

  main p {
    font-size: 0.9rem;
  }

  .servicio {
    padding: 0.5rem;
  }
  .nosotros h2 {
    font-size: 1.1rem;
  }
  .nosotros p {
    font-size: 0.9rem;
  }
}
